n8n/RAG Agents/RAG pipeline chatbot.json
{
  "name": "RAG pipeline chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "# RAG pipeline chatbot\n",
        "height": 80,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -208
      ],
      "id": "f15731b8-89d0-470c-b13b-e8ca60428467",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b7eH4eXvAdo-xfSGbeRjkD8eiL3wSvz3",
          "mode": "list",
          "cachedResultName": "n8n demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b7eH4eXvAdo-xfSGbeRjkD8eiL3wSvz3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3f8e6c5d-3c59-4bbe-be30-25493f6a60bf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PaXJDllaLqhWOkym",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0d9da9fe-6394-45fb-952e-c06e2a39fd04",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PaXJDllaLqhWOkym",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "82b401bb-cb73-430e-9b13-076a3afa4e94",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HsTAmQps1IXsnLqv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "da5cb711-e5df-412c-953c-a8ffc81600d9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SQV7b9nhNjKxbDkr",
          "name": "OpenAi account demo"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "8359a6b3-6fa9-4afc-9304-49c004ef6519",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "e3eb655c-3262-4020-b80a-4e42b407515c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        48
      ],
      "id": "96082670-3151-44c6-83d3-3aaa44f204c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        784,
        64
      ],
      "id": "ae623432-fb6e-48d8-bfbf-ed5e487a9c9b",
      "name": "When chat message received",
      "webhookId": "c9c8ec23-84fd-42b5-a461-3063e010a7e4"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1232,
        336
      ],
      "id": "9042c61d-5609-459d-b3ee-f72b549bbad9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "HsTAmQps1IXsnLqv",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        544
      ],
      "id": "0768a2f9-fc52-4f2d-a50b-9efcc5f687ae",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SQV7b9nhNjKxbDkr",
          "name": "OpenAi account demo"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        256
      ],
      "id": "0ef6ba7a-048f-4443-84ca-7f1fb7dbfd6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SQV7b9nhNjKxbDkr",
          "name": "OpenAi account demo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef3a8145-1877-49bc-96e2-f50707d9ce78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd39021c73ba273191cebe1969fcded1ad039754e93dc578bd074cdfde1b065b"
  },
  "id": "DxRF2vRSyo8RLMvS",
  "tags": []
}